/* SOBRE NÓS */

.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 24px;
}

.aboutus span{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8E2424;
}

.aboutus h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px;
    gap: 12px;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #101828;
}

.aboutus p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 36px 325px 107px 324px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
    width: 791px;
    height: 60px;
}

/* MÉTRICAS */

.metricas-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 112px 120px 112px;
    gap: 64px;
    align-self: stretch;
    justify-content: center;
}

.metricas-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 280px;
}

.metricas-item span{
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #8E2424;
}

.textos{  
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.metricas-item p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

/* TALENTOS */

.talentos-container{
    display: flex;
    padding: 0px 32px;
    gap: 32px;
    justify-content: center;
    flex-direction: column;
}

.talentos-abertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.talentos-abertas span{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8E2424;
    padding: 4px 12px;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
}

.talentos-abertas h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

.talentos-abertas p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
}

.talentos-container img{
    padding: 64px 112px 64px 112px;
}

/* VAGAS ABERTAS */

.vagas-design{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px;
    gap: 64px;
}

.vaga{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px 28px;
    gap: 24px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
}

.vagas-design h3{
    width: 768px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
}

.titulo-vaga{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 720px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.informacoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 720px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.vagas-desenolvimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 64px;
}

/* DEPOIMENTOS */

.depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 96px;
}

.testemunha{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 32px;
    width: 1216px;
    height: 404px;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
}

.testemunha h3{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8E2424;
}

.testemunha h4{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

.nome-avatar{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #101828;
}

.funcao-avatar{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #667085;
}
